<form id="add-service-form" method="POST">
  <input id="applicant-id-input" type="hidden" name="applicant" value={{applicant_id}}>
  {{#if update_page}}
  <input id="service-id-input" type="hidden" name="service_id" value={{service_id}}>
  {{/if}}

  <div class="form-row row">
    <div class="form-group col-md-3">
      <label for="worker-select">Care Worker</label>
      <select class="form-control" id="worker-select" name="care_worker">
        {{#each workers}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-3">
      <label for="service-date">Service Date</label>
      <input type="date" class="form-control" id="service-date-input" 
        name="service_date" required value={{service.service_date}}>
    </div>
  </div>
  
  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="note-input">Note</label>
      <textarea class="form-control" id="note-input" rows="8" 
        name="note">{{service.note}}</textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if update_page}}
<script type="text/javascript" src="/javascript/care/update_service.js"></script>
{{/if}}